/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* BODY */
.container{
/* RAGGRUPPARE TUTTE LE RIPETIZIONI */

/* TESTO */
font-family: sans-serif;
}

.adress{
    background-color: #255EE9;
    display: flex;
    justify-content: center;

    /* debug */
    height: 50px;
}

.login-menu{
    display: flex;
    width: 20%;
    margin-top: 10px;
    margin-bottom: 10px;
    
    /* debug */
    /* border: 2px dashed black; */
    /* background-color: #DAA520; */
}

.center{
    display: flex;
    justify-content: space-around;
}

.right {
    display: flex;
    justify-content: end;
    /* padding-right: 10px; */
}

.bg-blue{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 600px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    /* debug */
    /* background-color: #00008B; */
}

.bg-pink{
    text-align: center;
    height: 300px;
    width: 700px;
   
    /* debug */
    /* background-color: #EE82EE; */
     /* margin: 30px; */
}

.bg-pink > *{
    color: white;
    padding: 25px;
}

/* SEZIONE CANALI */
.bg-white{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    background-color: white;
    margin: 70px;
}

.bg-lightpink{
    width: 700px;
    min-height: 300px;

    /* debug */
    /* background-color: #FFC0CB;  */
}

.bg-lightblue{
    width: 400px;    
    min-height: 444px;

    /* debug */
    /* background-color: #1E90FF;  */
}

.text1{
    margin-top: 50px;
}

.text1 > p {
    margin-top: 30px;
    line-height: 20px;
}

/* SEZIONE CANALI VOCALI */
.bg-lightgray {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    background-color: #F6F6F6;
    margin: 70px 0;
}

.bg-lightpink2{
    width: 400px;
    min-height: 300px;

    /* debug */
    /* background-color: #FFC0CB; */
}

.bg-lightblue2{
    width: 700px;    
    min-height: 444px;
    background-image: url(../img/item2.svg);

    /* debug */
    /* background-color: #1E90FF; */
}

/* SEZIONE MEMBRI PERSONALIZZABILE */

.bg-lightblue3 {
    min-width: 500px;    
    min-height: 444px;
    background-image: url(../img/item3.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    /* debug */
    /* background-color: #1E90FF */
}

.bg-lightpink3 {
    width: 700px;
    min-height: 444px;

    /* debug */
    /* background-color: #FFC0CB; */
}

/* SEZIONE VIDEO E AUDIO */
.bg-greensquare {
    display: flex;
    flex-direction: column;
    align-items: center; 
    min-height: 500px;
    background-color: #F6F6F6;
}

.text-2 {
    text-align: center;
    padding: 20px;
}

.bg-green {
    width: 800px;    
    min-height: 500px;
    margin: 20px 0;
    background-image: url(../img/item4-big.svg);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    /* debug */
    /* background-color: green; */
}


/* SEZIONE FINALE */

.bg-black {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 500px;
    background-color: black;
}

.bg-salmon-30{
    width: 30%;

    /* debug */
    border: 1px solid white;
    min-height: 300px;
    background-color: #F08080;
}

.bg-turq-70{
    width: 30%;
    display: flex;
    /* debug */
    border: 1px solid white;
    background-color: #20B2AA;
    min-height: 200px;
}

.col-25 {
    width: 25%;

    /* debug */
    border: 1px solid white;
    background-color: red;
    min-height: 300px;
}

/* FOOTER */

.container-black{
    background-color: black;
    margin-top: 5px;

    display: flex;
    justify-content: center;

    /* debug */
    height: 100px;
}

.container-turq{
    display: flex;
    justify-content: space-between;

    background-color: #7FFFD4;
    width: 50%;
    margin-top: 15px;
}

.click {
    background-color: pink;
    border: 2px solid black;
    height: fit-content;
    margin: 20px;
}

/* UTILITY */

a {
    text-decoration: none;
    color: white;
}

.white-bt{
    padding: 5px 10px;
    color: black;
    border: 1px solid white;
    border-radius: 20px;
    background-color: white;
}

.black-bt{
    padding: 5px 10px;
    color: white;
    border: 1px solid black;
    border-radius: 20px;
    background-color: black;
}

.purple-bt{
    padding: 5px 10px;
    margin: 30px 0;
    color: white;
    border: 1px solid #7289DA;
    border-radius: 20px;
    background-color: #7289DA;
}
