/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* BODY */
.container{
    
    /* RAGGRUPPARE TUTTE LE RIPETIZIONI */
    
}

/* .block{
    
} */

.adress{
    background-color: #ADD8E6;
    display: flex;
    justify-content: center;

    /* debug */
    height: 50px;
}

.login-menu{
    background-color: #DAA520;
    display: flex;
    width: 20%;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px dashed black;
}

.center{
    display: flex;
    justify-content: space-around;
}

.right {
    display: flex;
    justify-content: end;
    /* padding-right: 10px; */
}

.bg-blue{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    background-color: #00008B;
}

.bg-pink{
    background-color: #EE82EE;
    
    /* debug */
    height: 200px;
    width: 35%;
    margin: 30px;
}

.bg-white{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    background-color: white;
}

.bg-lightgray{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    background-color: lightgray;
}

.bg-lightpink{
    background-color: #FFC0CB;
    
    /* debug */
    height: 300px;
    width: 50%;
    margin: 30px;
}

.bg-lightpink2{
    background-color: #FFC0CB;
    
    /* debug */
    height: 300px;
    width: 50%;
    margin: 30px;
}


.bg-lightblue{
    background-color: #1E90FF;

    /* debug */
    height: 100%;
    width: 65%;
}

.bg-lightblue2{
    background-color: #1E90FF;

    /* debug */
    height: 100%;
    width: 35%;
}

.bg-greensquare{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 500px;
    background-color: lightgrey;
}

.bg-green{
    background-color: green;
    
    /* debug */
    height: 600px;
    width: 35%;
    margin: 30px
}


/* SEZIONE FINALE */

.bg-black {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 500px;
    background-color: black;
}

.bg-salmon-30{
    width: 30%;

    /* debug */
    border: 1px solid white;
    min-height: 300px;
    background-color: #F08080;
}

.bg-turq-70{
    width: 30%;
    display: flex;
    /* debug */
    border: 1px solid white;
    background-color: #20B2AA;
    min-height: 200px;
}

.col-25 {
    width: 25%;

    /* debug */
    border: 1px solid white;
    background-color: red;
    min-height: 300px;
}

/* FOOTER */

.container-black{
    background-color: black;
    margin-top: 5px;

    display: flex;
    justify-content: center;

    /* debug */
    height: 100px;
}

.container-turq{
    display: flex;
    justify-content: space-between;

    background-color: #7FFFD4;
    width: 50%;
    margin-top: 15px;
}

.click {
    background-color: pink;
    border: 2px solid black;
    height: fit-content;
    margin: 20px;
}

